* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #4caf4f;
  --text-color: #717171;
  --title-color: #4d4d4d;
  --black: #000000;
  --white: #ffffff;
  --bg-alt: #f5f7fa;
  --bg: #263238;
  --h1-size: 40px;
  --h2-size: 36px;

  --h3-size: 33px;
  --h4-size: 24px;
  --section-padding: 40px;
}
body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.section-title-h3 {
  text-align: center;
  font-size: var(--h3-size);
  color: var(--title-color);
}
.section-title-h4 {
  text-align: center;
  font-size: var(--h4-size);
  color: var(--title-color);
}
.d-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.section-text {
  font-size: 15px;
  color: var(--text-color);
  line-height: 22px;
}
header {
  padding: 20px 0;
  position: sticky;
  top: 0;
  background-color: var(--bg-alt);
}
header .container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.container .logo {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 10px;
}

header .container .logo a {
  color: var(--black);
  font-size: 22px;
  font-weight: bold;
}
header .links {
  margin-left: 120px;
  font-size: 16px;
}
header .links a {
  color: var(--main-color);
}
header .links .btn {
  display: inline-block;
  margin-left: 20px;
  padding: 6px 20px;
  color: var(--bg-alt);
  border-radius: 8px;
  background-color: var(--main-color);
}
header .links .btn a {
  color: var(--white);
}
.nav input {
  appearance: none;
}
.nav ul li a {
  color: var(--bg);
  font-size: 18px;
}

@media (min-width: 991px) {
  .nav label img {
    display: none;
  }
  .nav ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
}
@media (max-width: 992px) {
  .nav {
    position: relative;
  }
  .nav ul {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    min-width: 180px;
    border: 1px solid rgba(220, 220, 220, 0.4);
  }
  .nav label img {
    cursor: pointer;
  }
  .nav input:checked + ul {
    display: block;
  }
  .nav ul li a {
    display: block;
    margin: 5px;
  }
  .nav ul li:not(:last-child) {
    border: 1px solid rgba(220, 220, 220, 0.4);
  }
}
.hero {
  background-color: var(--bg-alt);

  padding: var(--section-padding);
}
.hero .container {
  gap: 100px;
}
.hero .container .info {
  width: 45%;
}
.hero .container .info h1 {
  font-size: var(--h1-size);
  color: var(--title-color);
}
.hero .container .info h2 {
  padding: 8px 0;
  font-size: var(--h2-size);
  color: var(--main-color);
}
.hero .container a {
  display: block;
  width: fit-content;
  margin-top: 20px;
  padding: 10px 30px;
  color: var(--bg-alt);
  border-radius: 5px;
  background-color: var(--main-color);
}
.hero .container .img img {
  width: 80%;
}
.Our-Clients {
  padding: var(--section-padding);
}
.Our-Clients .container p {
  text-align: center;
  padding: 10px 0;
}
.Our-Clients .container .icon {
  margin: 20px 0;
  gap: 100px;
}
.Manage-your-entire-community .container p {
  text-align: center;
  padding: 10px 0;
}
.Manage-your-entire-community .cards {
  margin: 20px 0;
  gap: 80px;
  text-align: center;
}
.Manage-your-entire-community .cards .card h4 {
  padding: 10px 0;
}
.Manage-your-entire-community .cards .card p {
  font-size: 17px;
}

.contact .container .info h3 {
  font-size: var(--h3-size);
  color: var(--title-color);
}
.contact .container .info h4 {
  font-size: var(--h3-size);
  color: var(--main-color);
}
.contact .container .info p {
  font-size: 16px;
  color: var(--text-color);
  line-height: 22px;
}
.contact .container .cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: left;
  gap: 50px;
}
.contact .container .card {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}
.contact .container .card .icon img {
  width: 30px;
  align-items: center;
}

.contact .container .card .detalis-card {
  line-height: 28px;
}
.contact .container .card .detalis-card .section-title-h4 {
  color: var(--bg);
}
.contact .container .card .detalis-card .section-text {
  font-size: 16px;
}
.col {
  padding: var(--section-padding);
}
.col .container {
  gap: 100px;
}
.col .container .img img {
  width: 80%;
}
.col .container .info {
  width: 45%;
}
.col .container .section-title-h3 {
  text-align: left;
}

.col .container .section-text {
  padding: 10px 0;
  font-size: 12.5px;
  line-height: 20px;
  color: var(--text-color);
}
.col .container a {
  display: block;
  width: fit-content;
  margin-top: 20px;
  padding: 10px 30px;
  color: var(--bg-alt);
  border-radius: 5px;
  background-color: var(--main-color);
}
.contact {
  background-color: var(--bg-alt);
  padding: var(--section-padding);
}
.contact .container {
  gap: 100px;
}
.col .container .img img {
  width: 80%;
}
.col .container .info {
  width: 45%;
}

.contact .container .info .section-text-2 {
  padding: 10px 0;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-color);
}
.contact .container .section-title-h4 {
  font-size: 20px;
  text-align: left;
  color: var(--main-color);
}
.contact .container .info span {
  display: block;
  padding: 10px 0;
  color: var(--text-color);
  font-size: 14px;
}
.contact .container .info .icon {
  padding: 10px 0;
  gap: 20px;
}
.contact .container .info .icon a {
  color: var(--main-color);
  position: relative;
}
.contact .container .info .icon a img {
  display: inline-block;
  position: absolute;
  top: 0px;
}

 .demo{
  padding: var(--section-padding);
  background-color: var(--bg-alt);
 }
 .demo .container{
  display: flex;
  flex-direction: column;
  text-align: center;
  
  align-items: center;
 
 }
  .demo .container .section-text-2{
    font-size: var(--h2-size);
     line-height: 39px;
  }
   
    .demo .container a{
     display: block;
  width: fit-content;
  margin-top: 20px;
  padding: 10px 30px;
  color: var(--bg-alt);
  border-radius: 5px;
  background-color: var(--main-color);
    }
  


    footer {
  background-color: var(--bg);
}
footer .container {
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 170px;
}
.links-and-helping .logo .text {
  font-size: 22px;
  font-weight: bold;
  background-color: var(--alt-text-color);
  color: var(--bg-alt);
}
.links-and-helping .logo a {
  padding-left: 10px;
  color: var(--bg-alt);
  font-size: 22px;
  font-weight: 500;
}
.links-and-helping p {
  margin: 30px 0;
  line-height: 22px;
  font-weight: 100;
  color: var(--bg-alt);
}

.links-and-helping .icon-social-media img{
  
padding:  8px;
background-color:var(--title-color);
border-radius: 50%;
}
.links-and-helping h4 {
  padding-bottom: 13px;
  font-size: 18px;
  font-weight: 500 ;
  color: var(--bg-alt);
}
.links-and-helping span {
  display: block;
}

.links-and-helping ul li {
  padding: 7px 0;
}
.links-and-helping ul li a {
  color: var(--bg-alt);
  font-weight: 200;
  font-size: 14px;
}
.links-and-helping input{
  margin: 20px 0;
  padding: 10px;
  border: none;
  outline: none;
  background-color: var(--text-color);
border-radius: 8px;
}
.links-and-helping input::placeholder{
    font-weight:100;
  font-size: 14px;
  color: var(--bg-alt);
}
